@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.ninjaHeader {
  position: relative;

  overflow-x: hidden;

  z-index: 10;

  &__boxImg {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;

    img {
      width: 100%;
      height: 40rem;
    }
  }
}

.fasesSection {
  &__box {
    .flexContainer__box {
      @include for-size('tablet-landscape-up') {
        &:nth-child(even) {
          margin-top: 10rem;
        }
      }
    }
  }
}

.academiaSection {
  position: relative;

  z-index: 100;

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;

    max-width: 50rem;

    z-index: -1;
  }

  &__content {
    max-width: 80rem;
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    background-color: rgba($c-greenWhite, 0.4);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    @include for-size('tablet-landscape-up') {
      opacity: 0;
    }
  }
}

.practicaSection {
  &__box {
    max-width: 350px;

    -webkit-clip-path: polygon(
      25% 5%,
      75% 5%,
      100% 50%,
      75% 95%,
      25% 95%,
      0% 50%
    );
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    @include for-size('tablet-landscape-up') {
      &:first-child,
      &:last-child {
        margin-top: 15rem;
      }

      $size: 0;

      &:first-child {
        margin-right: $size;
      }

      &:last-child {
        margin-left: $size;
      }
    }
  }
}

.sectionInfonografia {
  position: relative;

  &__mainTitle {
    font-size: 4rem;

    @include for-size('tablet-portrait-up') {
      font-size: 7rem;
    }
  }

  &__shuriken {
    position: absolute;
    width: 40rem;

    z-index: -1;

    &--1 {
      top: -5rem;
      left: -2rem;
      transform: rotateY(160deg);
    }

    &--2 {
      right: 0;

      opacity: 0;
      
      @include for-size('tablet-portrait-up') {
        opacity: 1;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2rem;

    @include for-size('tablet-portrait-up') {
      display: none;
    }

    &--pilares {
      // justify-content: space-between;

      & > div {
        @include for-size('phone-only') {
          min-height: 15rem;
        }
      }
    }
  }

  &__boxImg {
    display: none;
    @include for-size('phone-only') {
      display: block;
    }
  }
}
