@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

$new-medie: 850px;

.ninjaHeader {
  position: relative;

  overflow-x: hidden;

  z-index: 10;

  &__boxImg {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;

    img {
      width: 100%;
      max-width: 35rem;
      // height: 40rem;
    }
  }
}

.fasesSection {
  &__box {
    .flexContainer__box {
      @include for-size('tablet-landscape-up') {
        &:nth-child(even) {
          margin-top: 10rem;
        }
      }
    }
  }
}

.academiaSection {
  overflow-y: hidden;

  position: relative;

  z-index: 100;

  &__title {
    font-size: 3rem;

    @include for-size('tablet-landscape-up') {
      font-size: 4rem;
    }
  }

  &__box {
    width: 100%;

    max-width: 70rem;
  }

  &__span {
    @include for-size('tablet-landscape-up') {
      display: block;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;

    max-width: 50rem;

    z-index: -1;
  }

  &__content {
    max-width: 80rem;
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    background-color: rgba($c-greenWhite, 0.4);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    @include for-size('desktop-up') {
      opacity: 0;
    }
  }

  &--dark {
    &::after {
      background-color: rgba($c-green-secondary, 0.4);
    }
  }
}

.practicaSection {
  &__box {
    max-width: 350px;

    -webkit-clip-path: polygon(
      25% 5%,
      75% 5%,
      100% 50%,
      75% 95%,
      25% 95%,
      0% 50%
    );
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    @include for-size('tablet-landscape-up') {
      &:first-child,
      &:last-child {
        margin-top: 15rem;
      }

      $size: 0;

      &:first-child {
        margin-right: $size;
      }

      &:last-child {
        margin-left: $size;
      }
    }
  }
}

.sectionInfonografia {
  position: relative;

  &__mainTitle {
    font-size: 4rem;

    @include for-size($new-medie) {
      font-size: 7rem;
    }
  }

  &__title {
    &--pilares {
      @include for-size($new-medie) {
        font-size: 4rem;
        width: 45rem;
      }
    }
  }

  &__text {
    &--pilares {
      line-height: 1.5em;
      font-weight: 100;

      @include for-size($new-medie) {
        font-size: 2rem;

        width: 100%;
        max-width: 50rem;
      }
    }
  }

  &__shuriken {
    position: absolute;
    width: 40rem;

    z-index: -1;

    &--1 {
      top: -5rem;
      left: -2rem;
    }

    &--2 {
      right: 0;

      opacity: 0;

      @include for-size($new-medie) {
        opacity: 1;
      }
    }
  }

  &__boxPilares {
    max-width: 490px;

    margin-right: auto;
    margin-left: auto;

    @include for-size($new-medie) {
      max-width: 900px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2rem;

    @include for-size($new-medie) {
      justify-content: space-between;

      position: absolute;

      height: 100%;
      width: 100%;
    }

    &--pilares {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // align-items: center;
      row-gap: 2rem;

      @include for-size($new-medie) {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-left: 2rem;

        justify-content: space-between;
      }

      & > div {
        @include for-size('phone-only') {
          min-height: 15rem;
        }

        @include for-size($new-medie) {
          &:nth-child(even) {
            align-self: center;
          }

          &:nth-child(1) {
            max-height: 20rem;
          }

          &:nth-child(2) {
            padding-left: 10rem;
          }

          &:nth-child(3) {
            margin-top: -3rem;
          }

          &:nth-child(4) {
            padding-left: 15rem;
          }

          &:nth-child(6) {
            padding-left: 20rem;
          }

          &:nth-child(8) {
            padding-left: 20rem;
          }

          &:nth-child(10) {
            padding-left: 20rem;
          }
        }
      }
    }
  }

  &__boxContent {
    width: 100%;

    h2 {
      @include for-size($new-medie) {
        font-size: 4rem;
      }
    }

    p {
      line-height: 1.5em;
      font-weight: 100;

      @include for-size($new-medie) {
        color: $color-principal;

        font-size: 2rem;

        width: 100%;
      }
    }

    @include for-size($new-medie) {
      max-width: 60rem;

      &:nth-child(even) {
        align-self: center;

        margin-left: 20rem;
      }

      &:nth-child(1) {
        padding-top: 5rem;
        min-height: 25rem;
      }

      &:nth-child(6) {
        min-height: 20rem;
      }
    }
  }

  &__boxImg {
    display: none;
    @include for-size('phone-only') {
      display: block;
    }
  }

  &__pilaresImg {
    display: none;
    @include for-size(490px) {
      display: block;
    }
  }
}
