$c-white: #fff;

$c-white-light: #f5fffa;

$c-gray: #eee;

$c-gray-dark: #b3b3b3;

$c-black: #000;

// colors

$main-color: #2b66be;

$secondary-color: #ffb400;

// Ninja

$c-gray-oscuro: #4b6272;

$c-gray-light: #a1abb8;

$c-green-main: #097188;

$c-green-main-2: #28afb0;

$c-green-secondary: #1985a1;

$c-greenWhite: #f1fbfb;

// crececrypto

$color-principal: #0683dc;

$color-principal-2: #00e2ef;

$color-gray: #666;

$c-purple: #9c63f9;

$purple-dark: #7209b6;

$blue-light: #d6f7f8;
